#main {max-width: 980px;}
#main .title div{margin-top: 5%;}
#main .back{float:left;margin-top:10px;margin-right:6px;cursor:pointer;height:20px;}
#main .title .user {position:absolute;right:0;top:12px;}
#main .funcs {margin-top:24px;}
#main .funcs .subTitle{display:inline-block;margin-top:6px;}
#main .funcs .searchInput{width:160px;position:absolute;right:0;border-radius:18px;padding:0 16px;}
#toast{height:50px;line-height:50px;display:none;width:100%;bottom:0;background:#000;position:fixed;z-index:999;text-align:center;opacity:1;color:#fff}
#toast.error{background:#f66e5d;}
#toast.right{background:#278b4c;}
